<div>
  <div><%= image_tag("Lemon7.png") %></div>
  <div class="navbar-links">
    <%= link_to "Accueil", "#accueil" %>
    <%= link_to "Infos pratiques", "#infos-pratiques" %>
    <%= link_to "Liste de mariage", "#liste-de-mariage" %>
    <%= link_to "RSVP", "#rsvp" %>
  </div>
</div>
