<div class="navbar-style">
  <div class="logo"><%= image_tag("Lemon7.png") %></div>
  <div class="navbar-links">
    <%= link_to "Accueil", "#accueil" %>
    <%= link_to "Programme", "#programme" %>
    <%= link_to "Infos pratiques", infos_pratiques_path %>
    <%= link_to "Liste de mariage", "#liste-de-mariage" %>
    <%= link_to "RSVP", "#rsvp" %>
  </div>
</div>
