<div class="navbar-style">
  <div id="logo">
    <%= link_to home_path do %>
      <%= image_tag("Lemon7.png") %>
    <% end %>

    </div>
  <div class="navbar-links">
    <%= link_to "Accueil", home_path %>
    <%= link_to "Programme", home_path(anchor: "programme") %>
    <%= link_to "Infos pratiques", home_path(anchor: "infos") %>
    <%= link_to "Liste de mariage", "#" %>
    <%= link_to "RSVP", new_answer_path %>
  </div>
</div>
