<%= simple_form_for answer do |f| %>
  <div class="align-inputs">
    <%= f.input :name, label: "Votre nom", class: "input-box" %>
    <%= f.input :email, label: "Votre mail", class: "input-box" %>
  </div>

  <h2>Le dîner</h2>
  <div class="dinner-answer">
    <legend class="col-form-label pt-0 answer-title">Viendrez-vous au diner?</legend>
    <input type="hidden" name="answer[answer_dinner][]" value="" />
    <div class="check-inputs">
      <div class="form-check">
        <input class="form-check-input check_boxes optional" type="checkbox" value="true" name="answer[answer_dinner][]" id="answer_answer_dinner_true" />
        <label class="collection_check_boxes" for="answer_answer_dinner_true">Yes</label>
      </div>
      <div class="form-check">
        <input class="form-check-input check_boxes optional" readonly="readonly" type="checkbox" value="false" name="answer[answer_dinner][]" id="answer_answer_dinner_false" />
        <label class="collection_check_boxes" for="answer_answer_dinner_false">No</label>
      </div>
    </div>
  </div>
  <div class="form-group select optional answer_nb_dinner dinner-answer">
    <label class="form-control-label select optional" for="answer_nb_dinner adapt-length">Si oui, combien serez-vous?</label>
    <select class="form-control select optional adapt-length-smaller" name="answer[nb_dinner]" id="answer_nb_dinner">
      <option value=""></option>
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
  </div>

  <%= f.input :answer_brunch, as: :check_boxes, checked_value: true, unchecked_value: false, label: "Viendrez-vous au brunch?" %>
  <%= f.input :nb_brunch, collection: 1..2, label: "Si oui, combien serez-vous?" %>
  <%= f.button :submit, value: "Valider" %>
<% end %>

