<div class="dashboard-container full-height">

  <% reponse = (Answer.all.count <= 1 ? "réponse" : "réponses") %>
  <div class="centered-title">Vous avez reçu <span class="important-number"><%= @answers.count %></span> <%= reponse %> !</div>

  <div class="answers-recap">
    <div class="answers">
      <p>Diner :</p>
      <p><span class="important-number"><%= @positive_dinner_answers.count %></span> réponse(s) positive(s)</p>
      <p><span class="important-number"><%= @sum_dinner %></span> personne(s) présente(s)</p>
    </div>
    <div class="answers">
      <p>Brunch :</p>
      <p><span class="important-number"><%= @positive_brunch_answers.count %></span> réponse(s) positive(s)</p>
      <p><span class="important-number"><%= @sum_brunch %></span> personne(s) présente(s)</p>
    </div>
  </div>

  <div class="detailed-answers">
    <h3>Détail des réponses des invités</h3>

      <table>
        <thead>
          <tr>
            <td>Nom</td>
            <td>Mail</td>
            <td>Envoyée le</td>
            <td>Présence au diner</td>
            <td>Nb de participants</td>
            <td>Présence au brunch</td>
            <td>Nb de participants</td>
          </tr>
        </thead>
        <tbody>
          <% @answers.each do |answer| %>
            <tr>
              <td><%= answer.name.capitalize %></td>
              <td><%= answer.email %></td>
              <td><%= answer.created_at.strftime("%d.%m.%y") %></td>
              <td><%= answer.answer_dinner ? "Oui" : "Non" %></td>
              <td><%= answer.nb_dinner %></td>
              <td><%= answer.answer_brunch ? "Oui" : "Non" %></td>
              <td><%= answer.nb_brunch %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>

  <div class="detailed-answers">
    <h3>Détail des personnes ayant visité le site</h3>
    <ol>
      <% @users.each do |visitor| %>
        <li><%= visitor.email %></li>
      <% end %>
      <% @visitors.each do |visitor| %>
        <li><%= visitor %></li>
      <% end %>
    </ol>
  </div>
</div>
