<div class="center-elements-in-flex full-height" id="banner">
  <div class="center-elements-in-flex white-box position-bottom">
    <h1>Louise & Guillaume</h1>
    <p>Rendez-vous le 31 août 2019 !</p>
    <!-- TODO : intégrer un décompte -->
    <%= link_to "Bienvenue", "#programme", class:"hidden-on-mobile" %>
  </div>
</div>

<a name="programme"></a>
<div class="white-frame full-height" id="programme">
  <div class="center-frame">
    <div class="section-title">
      <%= image_tag("Olive1.png", size: "40") %><h2>Programme</h2><%= image_tag("Olive1.png", size: "40", class:"left-olive") %>
    </div>
    <div class="inner-text">
      <p>Nous vous attendons avec impatience le 31 août 2019 à la Baraque de Sérignac (Gard)</p>
      <%= link_to "M'y rendre", infos_pratiques_path(anchor: "transports")%>
    </div>
    <div id="timeline">
      <div class="step">
        <div class="left-step">
          <%= image_tag("ceremony.png", size: "40") %>
          <div class="yellow-timeline">
            <div class="transparent-line"></div>
            <div class="grey-circle"></div>
            <div class="yellow-line"></div>
          </div>
        </div>
        <div class="step-text inverse-order">
          <h3>Cérémonie dans le jardin</h3>
          <p>16h30</p>
          <p class="day">Samedi</p>
        </div>
      </div>
      <div class="step">
        <div class="left-step">
          <%= image_tag("cocktail-2.png", size: "40") %>
          <div class="yellow-timeline">
            <div class="yellow-line"></div><div class="grey-circle"></div><div class="yellow-line"></div>
          </div>
        </div>
        <div class="step-text">
          <h3>Cocktail</h3>
          <p>18h</p>
          <p class="transparent-text">Samedi</p>
        </div>
      </div>
      <div class="step">
        <div class="left-step">
          <%= image_tag("diner.png", size: "40") %>
          <div class="yellow-timeline">
            <div class="yellow-line"></div><div class="grey-circle"></div><div class="yellow-line"></div>
          </div>
        </div>
        <div class="step-text">
          <h3>Diner placé</h3>
          <p>20h</p>
          <p class="transparent-text">Samedi</p>
        </div>
      </div>
      <div class="step">
        <div class="left-step">
          <%= image_tag("party-2.png", size: "40") %>
          <div class="yellow-timeline">
            <div class="yellow-line"></div><div class="grey-circle"></div><div class="yellow-line"></div>
          </div>
        </div>
        <div class="step-text">
          <h3>Soirée dansante</h3>
          <p>23h</p>
          <p class="transparent-text">Samedi</p>
        </div>
      </div>
      <div class="step">
        <div class="left-step">
          <%= image_tag("pool.png", size: "40") %>
          <div class="yellow-timeline">
            <div class="yellow-line"></div><div class="grey-circle"></div><div class="transparent-line"></div>
        </div>
        </div>
        <div class="step-text inverse-order">
          <h3>Brunch & baignade</h3>
          <p>12h30</p>
          <p class="day">Dimanche</p>
        </div>
      </div>
    </div>
  </div>
</div>

<a name="infos"></a>
<div id="infos-pratiques" class="full-height">
  <div class="center-white center-white-infos">
    <div class="section-title">
      <%= image_tag("Olive1.png", size: "40") %><h2 style="color:white">Infos pratiques</h2><%= image_tag("Olive1.png", size: "40", class:"left-olive") %>
    </div>
    <div class="information-section">

      <div class="information-card">
        <h3>Accès</h3>
        <%= image_tag("location.png", size: "40") %>
        <div class="text-info">
          <p>Gare de Nîmes : 35 min</p>
          <p>Gare de Montpellier Saint-Roch : 50 min</p>
          <p>Aéroport de Montpellier Méditerranée : 40 min</p>
          <p>Aéroport de Marseille : 1h30 min</p>
        </div>
        <%= link_to "Comment venir", infos_pratiques_path(anchor: "transports") %>
      </div>
      <div class="information-card">
        <h3>Logements</h3>
        <%= image_tag("sleep.png", size: "40") %>
        <div class="text-info">
          <p>De nombreux logements sont disponibles à proximité. Voici une petite sélection des plus proches !</p>
        </div>
        <%= link_to "Où dormir", infos_pratiques_path(anchor: "logements") %>
      </div>
      <div class="information-card">
        <h3>Liste de mariage</h3>
        <%= image_tag("gift.png", size: "40") %>
        <div class="text-info">
          <p>Notre cadeau, c'est vous ! Mais si vous voulez nous gâter encore plus, c'est par ici 😘</p>
        </div>
        <%= link_to "Nous gâter", "#" %>
      </div>
    </div>
    <%= link_to "Découvrir la région", "https://www.nimes-tourisme.com/fr/", target:"blank", id: "link-region" %>
  </div>
</div>

<div id="footer-banner" class="full-height">
  <div class="white-box small-box">
    <h2 style="padding-bottom: 20px">A vos réponses !</h2>
    <%= link_to "Répondre en ligne", new_answer_path %>
    <p>ou</p>
    <p>Nous répondre par mail à : <%= mail_to "louiseguillaume2019@gmail.com", "louiseguillaume2019@gmail.com",cc: "louise.darche@gmail.com, guillaumechapuis@live.fr", subject: "Notre venue au Wed" %></p>
  </div>
</div>
